Flask==2.3.3
flask-cors==4.0.0
Werkzeug==2.3.7
ultralytics==8.0.196
opencv-python-headless==4.8.0.76
numpy==1.24.3
Pillow==10.0.1
torch==2.0.1
torchvision==0.15.2
gunicorn==21.2.0
setuptools==68.2.2

